@import url('http://fonts.googleapis.com/css?family=Abel|Anton');


h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    text-transform: capitalize;
    font-size: 64px;
}

p {
    text-align: center;
    font-family: "Anton", sans-serif;
    text-transform: capitalize;
    font-size: 32px;
}

body {
    background-color: #e6e6e6;
}

.circle {
    height: 178px;
    background-color: white;
    border-radius: 50%;
}

.nav-brand {
    width: 100%;
}
.space {
    height: 60px;
    z-index: 5;
}
.nav {
    float: right;

}
.navbar-brand > img {
    height:105px;
    width: 105px;
}

hr {
    background-color: black;
}
.square {
    max-width: 100%;
    width: 204px;
    height: 124px;
    border: 2px solid #f0f0f0;
}

.work, .last {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Abel', sans-serif;
}
.side {
    font-family: 'Anton', sans-serif ;
    height: 32px;
}
.mini {
        height: 43px;
        width: 44px;
}