.mmcolor {
    background-color: pink;
}

.color {
    background-color: deepskyblue;
}

.mcolor {
    background-color: lawngreen;
}

h1 {
    text-align: center;
}

main {
    background-color:#eee;
}

h2 {
    text-align: center;
}

.div.row.col-sm-3.color {
    border: 2px solid darkgrey;
}

.nav {
    background-color: white;
}

.d1 {
    background-color: white;
}

.jumbotron {
    text-align: center;
}